
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    
    font-size: 17px;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: #22396a;
    padding: 32px 0;
    position: fixed;
    width: 100%;
}
.brand img {
    width: 120px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav a {
    text-decoration: none;
    color: aliceblue;
    text-transform: capitalize;
    margin: 33px;
    font-size: 24px;
}
.article-section  {
    padding: 75px 0;
    background-color: grey;
    padding-top: 190px;

}
.article-section .flex {
    align-items: flex-start;
}
.column-1-2 {
    width: 48%;
}
.article-image {
    width: 120%;
    border-radius: 9px;
    border: 5px solid greenyellow;

}
.article-heading {
    font-size: 43px;
    color: indigo;
    margin-bottom: 17px;
}

.gallery {
    padding: 70px 0;
}
.gallery .flex {
    flex-wrap: wrap;
}
.heading {
    text-align: center;
    color: #22396a;
    font-size: 43px;
    margin-bottom: 32px;
}
.column-1-3 {
    width: 30%;
    margin: 18px 0;
}
.gallery img {
    width: 100%;
    border-radius: 8px;
    border: 5px solid greenyellow;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
}
.footer {
    padding: 50px 0;
    background-color: #22396a;
    text-align: center;
}
.footer a {
    font-size: 22px;
    color: #fff;
    margin: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
}
.top-button {
    width: 55px;
    height: 55px;
    color: #fff;
    background-color: #1f1f1f;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 55%;
    position: fixed;
    right: 34px;
    bottom: 34px;

}